body{
	padding:10px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	line-height: 1.5em;
}

#logos{
	width:100%;
	display:block;
}
#logo-github img{
	width:10%;
	height:auto;
	
}
#logo-ubc img{
	width:10%;
	margin-bottom: 30px;

}

.body-text{
	width:100%;
}

.footer{
	margin-top:30px;
	font-size: 0.5em;
	color:gray;
	text-align:center;
}
